<!DOCTYPE html>
<html>
  <head>
    <title>{{=title}}</title>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Atheneum">

    <link rel='stylesheet' href='/stylesheets/Home.css' />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="pageContainer">loading...</div>

    <!-- pre loaded json object -->
    <script type="text/javascript">
      var viewModel = {{- JSON.stringify(viewModel)}};
    </script>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
