.artists{
  color:blue;
}
.artist{
  h2{
    font-size: 150%;
  }
}

.album{
  color: #00B7FF;
  padding-left: 2%;
  h3{
    font-size: 120%;

  }
}

.song{
  color: cornflowerblue;
  padding-left: 2%;
}